{% extends "all/layout.html" %}

{% load static %}

{% block content %}
{% include "all/latest.html" %}
    {% for post in news %}
    <section class="home-section" style="background-image: url({% static post.thumbnail_url %});">
        <div id="gradient">
            <div id="leaves">
                {% if forloop.counter == 1 %}
                <div class="top-gradient">
                    {% endif %}
                    <div class="container-fluid home-row" data-aos="fade-up" style="max-width: 65%; text-align: left;">
                        <div class="row">
                            <div class="col-md-3">
                                <img src="{% static post.thumbnail_url %}" class="float-left" style="max-width: 100%; border: 1px solid #b3ab87;" alt="...">
                            </div>
                            <a id="newsArticle" href="/pages/article/{{post.id}}">
                                <div class="col-md-9">
                                    <div style="max-width: 100%;">
                                        <h1 class="card-title">{{post.title}}</h1>
                                        <p class="card-text">{{post.description}}</p>
                                        <a class="text-muted">Admin - {{post.created_at}}</a>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    {% if forloop.counter == 1 %}
                </div>
                {% endif %}
            </div>
        </div>
    </section>
    {% endfor %}

    {% endblock %}
