{% load static %}

<script>
    $("#up-arrow").on("click", function() {
        $("body").scrollTop(0);
    });
</script>

<div id="up-button">
    <a href="#" id="up-arrow">
        <img src="{% static 'img/scroll_arrow_up.png' %}" class="d-block mx-auto">
    </a>
</div>

<footer id="myFooter">
    <div class="container">
         <div class="social-networks">
            <a href="#" class="twitter"><i class="fab fa-twitter-square"></i></a>
                <img id="footerImg" src="{% static 'img/logo.png' %}" style="">
            <a href="#" class="youtube"><i class="fab fa-youtube-square"></i></a>
        </div>
    </div>
            
    <div class="footer-copyright">
        <p>Copyright Paragonia 2019 ©. Not affiliated with Mojang AB or the Microsoft Corporation.</p>
    </div>
</footer>
                
<!-- EXTERNAL SCRIPTS -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/holder.js"></script>
<script src="js/guide-select.js"></script>
       